ch2/mp3player/Resources
ch2/mp3player/build
ch2/mp3player/plugins
ch2/mp3playerthemes/Resources
ch2/mp3playerthemes/build
ch2/mp3playerthemes/plugins

ch3/Resources
ch3/build
ch3/plugins
ch3/mp3playerwidgetsthemes/plugins

ch4/Resources
ch4/build
ch4/plugins
ch5/Resources
ch5/build
ch5/plugins
ch6/Resources
ch6/build
ch6/plugins
ch7/Resources
ch7/build
ch7/plugins